<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select</title>
</head>
<body>
    <h1>당신이 원하는 연예인을 선택하세요</h1>
    <form action="show.html" method="post">
        <input type="checkbox" name="star1" id="star1">1. 서장훈<br>
        <input type="checkbox" name="star1" id="star2">2. 유재석<br>
        <input type="checkbox" name="star1" id="star3">3. 태연<br>
        <input type="checkbox" name="star1" id="star4">4. 최예나<br>
        <input type="checkbox" name="star1" id="star5">5. 김영철<br>
        <input type="submit">
    </form>
</body>
</html>